/* ! General style of the website */
body {
  font-family: 'Nunito';
  background-color: #FEFEFF;
  right: 0;
  top: 0;
  padding: 0;
  color: #000074;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000074;
}

button {
  font-family: 'Nunito';
  cursor: pointer;
  color: #000074;
  white-space: nowrap;
}


/* Header */
.header {
  width: 78vw;
  padding: 0.3vw 11vw;
  display: flex;
  background-color: rgba(247, 247, 251, 0.86);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.header .logo {
  padding: 0.2vw;
  margin: 0.9vw 2.8vw 0.7vw 0;
  height: 1.2vw;
}

.header .links {
  display: flex;
  margin: 0 auto;
}

.header .links h4 {
  font-size: 1vw;
  font-weight: 200;
  padding-top: 1.3vw;
  margin: 0 1.4vw;
}

#selected-page {
  color: rgb(200, 16, 46);
  font-weight: 400;
}

.header button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  display: flex;
  margin-top: 1vw;
  transform: translateY(-0.05vw);
  transition: all 0.1s;
}

.header button h5 {
  color: #C8102E;
  font-size: 1.1vw;
  font-weight: 400;
}

.header button img {
  height: 1.4vw;
  margin-left: 0.4vw;
}

.header button:active {
  transform: scale(0.99) translateY(-0.03vw);
}

.menu, .hamburger {
  display: none;
}


/* Underline animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.07vw;
  bottom: -0.3vw;
  left: 0;
  background-color: #C8102E;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* Content */
h1 {
  font-size: 3vw;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin: 10vw 0 6vw 0;
}

.content{
  width: 73vw;
  margin: 0 11vw 7vw 11vw;
  background-color: rgba( 0, 0, 116, 0.02);
  border-radius: 2vw;
  padding: 2.5vw;
  font-weight: 200;
  font-size: 1.1vw;
  line-height: 1.4;
}

.content h4{
  opacity: 0.5;
  text-align: center;
  font-size: 1.3vw;
  margin: 0.5vw 0 2vw 0;
}

.content h2{
  font-size: 1.6vw;
  font-weight: 600;
  text-align: center;
  margin: 3vw 0 1.5vw 0;
}

.content h3 {
  font-size: 1.3vw;
  font-weight: 400;
  margin: 2vw 0 1vw 0;
}

.content a {
  color: #C8102E;
}

.content table {
  width: 100%;
  margin: 1.5vw 0;
}

.content table td{
  border: 0.1vw solid rgba( 0, 0, 116, 0.2);
  padding: 1vw 1.5vw;
}

.content .main-row{
  font-weight: 500;
}

.content strong {
  font-weight: 500;
}


/* Footer */
footer {
  margin-bottom: 3vw;
}

footer img {
  display: flex;
  width: 7.5vw;
  margin: 3vw auto;
}

footer p {
  font-size: 1.1vw;
  font-weight: 100;
  text-align: center;
  margin-bottom: 0.8vw;
  opacity: 0.8;
}


@media (max-width: 1025px) {

  /* Header */
  .header {
    width: 88vw;
    padding: 3.4vw 6vw 3.5vw 6vw;
  }

  .header .logo {
    padding: 0;
    margin: 1.2vw 0 0 0;
    height: 4.5vw;
  }

  .header .links, .header button, .hamburger{
    display: none;
  }

  .hamburger{
    display: block;
    position: relative;
    width: 6.2vw;
    height: 4.7vw;
    background-image: url('resources/menu.svg');
    background-size: contain;
    position: absolute;
    right: 6vw;
    margin: 0.8vw 0;
  }

  .hamburger--open{
    background-image: url('resources/close.svg');
    width: 4.7vw;
    margin: 0.8vw 0.75vw;
    transition: all 0s;
  }


  /* Menù settings */
  .menu{
    display: block;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    z-index: 99;
    transform: translateY(-100vh);
    background-color: rgba(247, 247, 251, 0.92);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: all 0.3s;
  }

  .menu--header{
    background-color: rgba(247, 247, 251, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: all 0.3s;
  }

  .body--fixed{
    overflow: hidden;
  }

  .menu--open{
    display: block;
    opacity: 1;
    transform: translateY(0vh);
    transition: all 0.3s;
  }

  .menu-links {
    width: 88vw;
    margin: 15vh 6vw 0 6vw;
  }

  .menu-links a{
    display: block;
    width: max-content;
    margin: 5vh auto;
    font-size: 5.5vw;
    font-weight: 300;
    opacity: 0;
  }

  .menu .selected{
    color: #C8102E;
    font-style: oblique;
    font-weight: 600;
  }


  /* Underline animation */
  .hover-underline-animation:after {
    height: 0.2vw;
    bottom: -0.7vw;
  }


  /* Content */
  h1 {
    font-size: 8vw;
    margin: 30vw 0 16vw 0;
  }

  .content {
    width: 78vw;
    margin: 0 6vw 13vw 6vw;
    border-radius: 4vw;
    padding: 5vw;
    font-size: 4vw;
  }

  .content h4 {
    font-size: 4.5vw;
    text-align: left;
    margin: 2vw 0 4vw 0;
  }

  .content h2 {
    font-size: 6.5vw;
    text-align: left;
    margin: 10vw 0 6vw 0;
  }

  .content h3 {
    font-size: 4.7vw;
    margin: 4vw 0 2vw 0;
  }

  .content table {
    margin: 6vw 0;
  }

  .content table td {
    border: 0.2vw solid rgba(0, 0, 116, 0.2);
    padding: 2vw 3vw;
  }


  /* Footer */
  footer {
    margin-bottom: 10vw;
  }

  footer img {
    display: flex;
    width: 22vw;
    margin: 6vw auto;
  }

  footer p {
    font-size: 4vw;
    margin-bottom: 2vw;
    opacity: 0.75;
  }
}