/* ! General style of the website */
body {
  font-family: 'Nunito';
  background-color: #FEFEFF;
  right: 0;
  top: 0;
  padding: 0;
  color: #000074;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000074;
}

button {
  font-family: 'Nunito';
  cursor: pointer;
  color: #000074;
  white-space: nowrap;
}


/* Header */
.header {
  width: 78vw;
  padding: 0.3vw 11vw;
  display: flex;
  background-color: rgba(247, 247, 251, 0.86);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.header .logo {
  padding: 0.2vw;
  margin: 0.9vw 2.8vw 0.7vw 0;
  height: 1.2vw;
}

.header .links {
  display: flex;
  margin: 0 auto;
}

.header .links h4 {
  font-size: 1vw;
  font-weight: 200;
  padding-top: 1.3vw;
  margin: 0 1.4vw;
}

#selected-page {
  color: rgb(200, 16, 46);
  font-weight: 400;
}

.header button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  display: flex;
  margin-top: 1vw;
  transform: translateY(-0.05vw);
  transition: all 0.1s;
}

.header button h5 {
  color: #C8102E;
  font-size: 1.1vw;
  font-weight: 400;
}

.header button img {
  height: 1.4vw;
  margin-left: 0.4vw;
}

.header button:active {
  transform: scale(0.99) translateY(-0.03vw);
}

.menu, .hamburger {
  display: none;
}


/* Underline animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.07vw;
  bottom: -0.3vw;
  left: 0;
  background-color: #C8102E;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Hero */
.hero h1 {
  font-size: 5.2vw;
  font-weight: 500;
  padding-top: 7.7vw;
  text-align: center;
  line-height: 1.28;
}

.hero h1 span {
  color: #C8102E;
  text-stroke: 0.1vw #C8102E;
  -webkit-text-stroke: 0.1vw #C8102E;
}

.carousel {
  margin: 3.5vw 0 4.5vw 0;
  width: 100vw;
  height: 18vw;
  overflow: hidden;
  position: relative;
}

.carousel .carousel-inner {
  white-space: nowrap;
  transition: transform 1s;
  position: absolute;
  left: 1.3vw;
  top: 0;
  height: 100%;
}

.carousel .carousel-inner img {
  display: inline-block;
  height: 100%;
  margin: 0 1vw;
}

.animate {
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-412vw);
  }
}

.hero-btn {
  width: max-content;
  display: flex;
  margin: 3.5vw auto 0vw auto;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero-btn a {
  display: flex;
}

.hero-btn h5 {
  padding-top: 0.25vw;
  font-size: 1.7vw;
  color: #C8102E;
  margin-right: 0.5vw;
}

.hero-btn img {
  width: 2.2vw;
  transform: rotate(135deg);
}

.hero-btn:hover {
  transform: translateY(0.5vw);
}

.hero-btn:active {
  transform: scale(0.9) translateY(0.5vw);
}


/* Value */
.value {
  margin-bottom: 8vw;
}

.value h3 {
  text-transform: uppercase;
  opacity: 50%;
  text-align: center;
  font-size: 2vw;
  font-weight: 300;
  margin-top: 12vw;
}

.value__content {
  display: flex;
  width: 78vw;
  margin: 6vw 11vw;
}

.value__content h2 {
  width: 39vw;
  margin-right: 3vw;
  font-size: 3.6vw;
  font-weight: 500;
  line-height: 1.25;
}

.value__content span {
  color: #C8102E;
  text-stroke: 0.1vw #C8102E;
  -webkit-text-stroke: 0.1vw #C8102E;
}

.value__links {
  width: 36vw;
}

.value__links button {
  cursor: pointer;
  margin: 0.6vw 0;
  background-color: #F6F6FB;
  text-align: left;
  border: none;
  padding: 0;
  width: 100%;
  border-radius: 10vw;
}

.value__links button p {
  font-size: 1.6vw;
  font-weight: 100;
  padding: 1.3vw 2vw 1.2vw 2vw;
}

.selected-value {
  color: #F6F6FB !important;
  transition: all 0.13s cubic-bezier(0.25, 0.1, 0.25, 1);
  background-color: #C8102E !important;
}

.selected-value p{
  font-weight: 400 !important;
}

.value__carousel {
  margin-top: 3.5vw;
  padding-left: 0vw;
  height: 27vw;
  position: relative;
  overflow-x: hidden;
}

.value__carousel::-webkit-scrollbar {
  width: 0em;
}

.value__carousel::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.value__carousel::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}

.value__carousel .carousel-inner {
  white-space: nowrap;
  position: absolute;
  top: 0;
  height: 26vw;
}

#c1, #c2, #c3, #c4 {
  display: none;
}

.value__carousel .carousel-inner .card {
  display: block;
  width: 35.5vw;
}

.value__carousel .carousel-inner .card img {
  width: 100%;
  border-radius: 1vw;
  border: 0.1vw solid #F6F6FB;
}

.value__carousel .carousel-inner .space {
  margin-right: 11vw;
}

.value__carousel .carousel-inner .card h5 {
  width: 80%;
  margin: 1vw 10% 0 10%;
  font-size: 1.6vw;
  font-weight: 100;
  white-space: initial;
  line-height: 1.3;
  text-align: center;
}

.value__carousel .carousel-inner .card span {
  font-weight: 600;
}

.selected-carousel {
  display: flex !important;
}


/* Cta */
.cta {
  width: max-content;
  display: flex;
  margin: 4vw auto 11vw auto;
  padding: 1.2vw 2.5vw 1.2vw 2.5vw;
  background-color: rgba(0, 0, 0, 0);
  color: #C8102E;
  border: 0.1vw solid #C8102E;
  transition: all 0.1s;
  border-radius: 5vw;
}

.cta h5 {
  padding-top: 0.1vw;
  font-size: 1.6vw;
  font-weight: 300;
  text-align: center;
}

.cta img {
  width: 2vw;
  padding-left: 0.4vw;
}

.cta:hover{
  background-color: #C8102E;
  color: #F6F6FB;
  transform: scale(1.01);
}

.cta:active {
  transform: scale(0.99);
}


/* Subtitle */
.subtitle {
  width: 100vw;
  margin-bottom: 4vw;
}

.subtitle h2 {
  font-size: 3.65vw;
  font-weight: 500;
  text-align: center;
  line-height: 1.1;
}

.subtitle h2 span {
  color: #C8102E;
  text-stroke: 0.1vw #C8102E;
  -webkit-text-stroke: 0.1vw #C8102E;
}

.subtitle h3 {
  opacity: 50%;
  text-align: center;
  font-size: 1.8vw;
  font-weight: 300;
  margin-top: 1.5vw;
}


/* Swiper */
.mySwiper {
  width: 100vw;
  height: 45vw;
  cursor: pointer;
  margin-bottom: 5vw;
}

.mySwiper .swiper-slide {
  margin-top: 5vw;
  width: 53.3vw;
  height: 30vw;
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  border-radius: 1vw;
}

.mySwiper .swiper-slide-active {
  transform: scale(1.27) !important;
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1vw;
}

.mySwiper .swiper-pagination {
  top: 42vw !important;
}

.mySwiper .swiper-pagination-bullet {
  width: 0.7vw !important;
  height: 0.7vw !important;
  margin: 0.2vw;
  background-color: #000074 !important;
  opacity: 0.1;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #C8102E !important;
  opacity: 1;
  transform: scale(1.15);
}


/* Swiper2 */
.swiper1, .swiper2, .swiper3, .swiper4{
  width: 78vw;
  height: 25vw;
  cursor: pointer;
  margin: 0 11vw 5vw 11vw;
  overflow: visible;
}


/* Subscription */
.subscription {
  width: 78vw;
  margin: 5vw 11vw 8vw 11vw;
  display: flex;
}

.subscription img {
  width: 48%;
  border: 0.1vw solid #000074;
  border-radius: 1.3vw;
}

#s-1 img {
  margin-right: 2%;
}

#s-2 img {
  margin-left: 2%;
}

.subscription__texts {
  width: 44%;
  margin: 0 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subscription__innerTexts {
  height: max-content;
}

.subscription__texts h3 {
  font-size: 2vw;
  line-height: 1.2;
  margin-bottom: 1vw;
}

.subscription__texts p {
  font-size: 1.6vw;
  font-weight: 100;
  line-height: 1.4;
  margin-bottom: 1vw;
  opacity: 0.8;
}

#mobile {
  display: none;
}


/* Value */
.value__texts {
  width: 36vw;
}

.value__texts h4 {
  font-size: 1.85vw;
}

.value__texts p {
  font-size: 1.6vw;
  font-weight: 100;
  opacity: 0.8;
  margin: 1vw 0 4vw 0;
  line-height: 1.3;
}

.value__texts span {
  font-family: 'Nunito';
  font-size: 1.6vw;
  font-weight: 500;
  line-height: 1.3;
  color: #C8102E;
  text-stroke: 0vw;
  -webkit-text-stroke: 0vw;
}


/* Other */
.other {
  width: 78vw;
  margin: 0 11vw;
  display: flex;
}

.other .block {
  width: 38vw;
}

.block:first-child {
  margin-right: 2vw;
}

.other .block .card {
  background-color: #F6F6FB;
  margin-bottom: 2vw;
  border-radius: 1vw;
  padding: 2vw;
}

.other .block .card img {
  width: 4vw;
}

.other .block .card h2 {
  margin: 1vw 0;
  font-size: 1.85vw;
  line-height: 1.4;
}

.other .block .card p {
  font-size: 1.3vw;
  font-weight: 100;
  opacity: 0.8;
  line-height: 1.6;
}


/* Curiosity */
.curiosity {
  width: 78vw;
  margin: 0 11vw;
  text-align: center;
}

.curiosity h2 {
  font-size: 3.65vw;
  font-weight: 700;
  margin-bottom: 3vw;
}

.curiosity p {
  font-size: 1.45vw;
  font-weight: 300;
  opacity: 0.8;
  margin-bottom: 1.5vw;
  line-height: 1.7;
}

.curiosity span {
  font-size: 1.7vw;
  font-weight: 600;
  font-style: italic;
  color: #C8102E;
}

/* Disclaimer */
.disclaimer {
  font-size: 1vw;
  font-weight: 100;
  text-align: center;
  width: 64vw;
  margin: 7vw 18vw 7vw 18vw;
  line-height: 1.5;
  opacity: 0.5;
}

/* Footer */
footer {
  margin-bottom: 3vw;
}

footer img {
  display: flex;
  width: 7.5vw;
  margin: 3vw auto;
}

footer p {
  font-size: 1.1vw;
  font-weight: 100;
  text-align: center;
  margin-bottom: 0.8vw;
  opacity: 0.8;
}


@media (max-width: 1025px) {

  /* Header */
  .header {
    width: 88vw;
    padding: 3.4vw 6vw 3.5vw 6vw;
  }

  .header .logo {
    padding: 0;
    margin: 1.2vw 0 0 0;
    height: 4.5vw;
  }

  .header .links, .header button, .hamburger{
    display: none;
  }

  .hamburger{
    display: block;
    position: relative;
    width: 6.2vw;
    height: 4.7vw;
    background-image: url('resources/menu.svg');
    background-size: contain;
    position: absolute;
    right: 6vw;
    margin: 0.8vw 0;
  }

  .hamburger--open{
    background-image: url('resources/close.svg');
    width: 4.7vw;
    margin: 0.8vw 0.75vw;
    transition: all 0s;
  }


  /* Menù settings */
  .menu{
    display: block;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    z-index: 99;
    transform: translateY(-100vh);
    background-color: rgba(247, 247, 251, 0.92);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: all 0.3s;
  }

  .menu--header{
    background-color: rgba(247, 247, 251, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: all 0.3s;
  }

  .body--fixed{
    overflow: hidden;
  }

  .menu--open{
    display: block;
    opacity: 1;
    transform: translateY(0vh);
    transition: all 0.3s;
  }

  .menu-links {
    width: 88vw;
    margin: 15vh 6vw 0 6vw;
  }

  .menu-links a{
    display: block;
    width: max-content;
    margin: 5vh auto;
    font-size: 5.5vw;
    font-weight: 300;
    opacity: 0;
  }

  .menu .selected{
    color: #C8102E;
    font-style: oblique;
    font-weight: 600;
  }


  /* Underline animation */
  .hover-underline-animation:after {
    height: 0.2vw;
    bottom: -0.7vw;
  }


  /* Hero */
  .hero h1 {
    font-size: 11.7vw;
    font-weight: 600;
    padding-top: 17vh;
  }

  .hero h1 span {
    font-weight: 500;
    color: #C8102E;
    text-stroke: 0.4vw #C8102E;
    -webkit-text-stroke: 0.4vw #C8102E;
  }

  .carousel {
    margin: 8vh 0;
    height: 48vw;
  }

  .carousel .carousel-inner {
    position: absolute;
    left: 6vw;
  }

  .carousel .carousel-inner img {
    margin: 0 2vw;
  }
 .animate {
    animation: slide 40s linear infinite;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-1086.4vw);
    }
  }

  .hero-btn {
    margin: 8vh auto 5vh auto;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .hero-btn h5 {
    padding-top: 1vw;
    font-size: 6vw;
    margin-right: 2vw;
  }

  .hero-btn img {
    width: 8vw;
  }

  .hero-btn:active {
    transform: scale(0.9) translateY(0vw);
  }


  /* Subtitle */
  .subtitle {
    width: 88vw;
    margin: 0 6vw 8vw 6vw;
  }

  .subtitle h2 {
    font-size: 9vw;
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
  }

  .subtitle h2 br{
    display: none;
  }

  .subtitle h2 span {
    text-stroke: 0.2vw #C8102E;
    -webkit-text-stroke: 0.2vw #C8102E;
    line-height: 0.9;
  }

  .subtitle h3 {
    font-size: 4.7vw;
    margin-top: 4vw;
    line-height: 1.2;
  }


  /* Swiper */
  .mySwiper {
    height: 60vw;
    margin-bottom: 10vw;
  }

  .mySwiper .swiper-slide {
    margin-top: 5vw;
    width: 68vw;
    height: 37.3vw;
  }

  .mySwiper .swiper-slide img {
    border-radius: 2vw;
  }

  .mySwiper .swiper-pagination {
    top: 53vw !important;
  }

  .mySwiper .swiper-pagination-bullet {
    width: 2vw !important;
    height: 2vw !important;
    margin: 0.4vw;
  }


  /* Cta */
  .cta {
    margin: 8vw auto 22vw auto;
    padding: 3vw 6vw;
    border-radius: 10vw;
  }

  .cta h5 {
    padding-top: 0.3vw;
    font-size: 5vw;
  }

  .cta img {
    width: 6vw;
    padding-left: 1.2vw;
  }


  /* Value */
  .value h3 {
    font-size: 4vw;
    margin-top: 24vw;
  }

  .value__content {
    display: block;
    width: 88vw;
    margin: 4vw 6vw 12vw 6vw;
  }

  .value__content h2 {
    width: 88vw;
    margin-right: 0vw;
    font-size: 9vw;
  }

  .value__content span {
    text-stroke: 0.3vw #C8102E;
    -webkit-text-stroke: 0.3vw #C8102E;
  }

  .value__links {
    margin-top: 6vw;
    width: 88vw;
  }

  .value__links button {
    display: block;
    margin: 3vw 0;
  }

  .value__links button p {
    font-size: 4.6vw;
    font-weight: 100;
    border-bottom: 0.12vw solid #FEFEFF;
    padding: 3vw 5.6vw 2.8vw 5.6vw;
  }

  .value__carousel {
    margin-top: 7vw;
    height: 65vw;
    overflow-y: hidden;
  }

  .value__carousel .carousel-inner {
    height: 48vw;
    padding-left: 6vw;
  }

  .value__carousel .carousel-inner .card {
    width: 80vw;
  }

  .value__carousel .carousel-inner .card img {
    border-radius: 2vw;
    border: 0.2vw solid #F6F6FB;
  }

  .value__carousel .carousel-inner .card h5 {
    width: 90%;
    margin: 2vw 5% 0 5%;
    font-size: 5vw;
  }


  /* Swiper2 */
  .swiper1, .swiper2, .swiper3, .swiper4 {
    width: 100vw;
    height: 73vw;
    margin: 0vw;
  }

  /* Subscription */
  .subscription {
    width: 88vw;
    margin: 10vw 6vw 16vw 6vw;
    display: block;
  }

  .subscription img {
    width: 100%;
    border: 0.2vw solid #000074;
    border-radius: 2.6vw;
  }

  #s-1 img {
    margin-right: 0%;
  }

  #s-2 img {
    margin-left: 0%;
  }

  .subscription__texts {
    width: 100%;
    margin: 0%;
    text-align: center;
  }

  .subscription__texts h3 {
    width: 90%;
    margin: 0% 5%;
    font-size: 5.3vw;
    line-height: 1.3;
    margin-bottom: 4vw;
    margin-top: 4vw;
  }

  .subscription__texts p {
    font-size: 4.5vw;
    line-height: 1.3;
    margin-bottom: 1vw;
  }

  #s-2 .subscription__texts{
    display: none;
  }

  #mobile{
    display: block !important;
  }

  /* Value section 2 */
  .value__texts {
    margin-top: 8vw;
    padding-bottom: 4vw;
    width: 88vw;
  }

  .value__texts h4 {
    font-size: 6vw;
  }

  .value__texts p {
    font-size: 5vw;
    font-weight: 100;
    margin: 4vw 0 10vw 0;
    line-height: 1.3;
  }

  .value__texts span {
    font-size: 5vw;
    font-weight: 200;
  }


  /* Other */
  .other {
    width: 88vw;
    margin: 0 6vw;
    display: block;
  }

  .other .block {
    width: 88vw;
  }

  .block:first-child {
    margin-right: 0vw;
  }

  .other .block .card {
    margin-bottom: 6.5vw;
    border-radius: 4vw;
    padding: 6vw;
  }

  .other .block .card img {
    width: 13vw;
  }

  .other .block .card h2 {
    margin: 4vw 0;
    font-size: 6vw;
    line-height: 1.4;
  }

  .other .block .card p {
    font-size: 5vw;
    font-weight: 100;
    opacity: 0.8;
    line-height: 1.4;
  }


  /* Curiosity */
  .curiosity {
    width: 88vw;
    margin: 0 6vw;
  }

  .curiosity h2 {
    font-size: 7.5vw;
    font-weight: 600;
    margin-bottom: 7vw;
  }

  .curiosity p {
    font-size: 4.5vw;
    margin-bottom: 4vw;
    line-height: 1.5;
  }

  .curiosity span {
    font-size: 5.2vw;
  }

  /* Disclaimer */
  .disclaimer {
    font-size: 3.9vw;
    width: 88vw;
    margin: 20vw 6vw 14vw 6vw;
    line-height: 1.5;
  }

  /* Footer */
  footer {
    margin-bottom: 10vw;
  }

  footer img {
    display: flex;
    width: 22vw;
    margin: 6vw auto;
  }

  footer p {
    font-size: 4vw;
    margin-bottom: 2vw;
    opacity: 0.75;
  }

}