/* ! General style of the website */
html{ overflow-x:hidden; min-height: 100vh;}
body{
  font-family: 'Nunito';
  font-size: 1.32vw;
  background-color: #FEFEFF;
  color: #000075;
  right: 0;
  top: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
}

a{ text-decoration: none; color: #000074; cursor: pointer;}

/* Header */
.header {
  width: 72vw;
  padding: 0.3vw 17vw 0.3vw 11vw;
  display: flex;
  background-color: rgba(247, 247, 251, 0.86);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.header .logo {
  padding: 0.2vw;
  margin: 0.9vw 2.8vw 0.7vw 0;
  height: 1.2vw;
}

.header .links {
  display: flex;
  margin: 0 auto;
}

.header .links h4 {
  color: #000074;
  font-size: 1.1vw;
  font-weight: 200;
  padding-top: 1.15vw;
  margin: 0 1.4vw;
}

#selected-page {
  color: rgb(200, 16, 46);
  font-weight: 400;
}

.menu,
.hamburger {
  display: none;
}


/* Underline animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.07vw;
  bottom: -0.3vw;
  left: 0;
  background-color: #C8102E;
  transform-origin: bottom right;
  transition: transform 0.35s;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* Button */
button{
  background-color: #BC0000;
  border: 0;
  margin-top: 0.21vw;
  width: 8.9vw;
  height: 2.54vw;
  transition: .2s;
  cursor: pointer;
  border-radius: 0.71vw;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.25) 0px 4px 10px 0px;
  background-color: #C8102E;
  transition: all 0.15s;
}

button:active{ box-shadow: rgba(100, 100, 111, 0.25) 0px 2px 6px 0px;}
.scalebutton{ transition: all 0.20s; width: 9.17vw;}
.scalebutton:active{ transform: scale(0.95);}
button img{ position: static; width: 1.41vw; padding: 0.49vw 0.35vw 0 0.49vw;}
button h5{ font-family: 'Montserrat'; color: #fff; font-size: 1.06vw; margin: 0.56vw 0 0 0.21vw; white-space: nowrap; text-align: center; width: 100%;}
.btn-1{ width: 10.27vw;}


/* Underline animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #000;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.073vw;
  bottom: -0.37vw;
  left: 0;
  background-color: #C8102E;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* Content */
.content{ width: 80vw; padding: 12vw 10vw 0 10vw;}

.content h1{
  font-family: 'Nunito';
  font-size: 3vw;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.5vw;
}

/* Blog */
#dib-template-2{ width: 80vw !important;}
#dib-template-2 .dib-post-wrap{ margin-top: 3vw !important;}

ul.dib-cat-menu{ border: 1px solid rgba(0,0,116,.3) !important; border-width: 1px 0 !important;}
ul.dib-cat-menu li a{ opacity: 1 !important;}

#dib-template-2 .dib-post img.dib-post-featured-image{ border-radius: 1.2vw 1.2vw 0 0 !important; border-bottom: 1px solid #000075 !important;}

#dib-template-2 a.dib-post{
  border-radius: 1.3vw !important;
  border: 2px solid #000075 !important;
  background: #ffffff !important;
}

#dib-template-2 .dib-author-photo{ left: 2vw !important; border: 1px solid #000075 !important;}
#dib-template-2 .dib-author-photo img{ width: 100% !important;}
#dib-template-2 p.dib-meta-text{ font-size: 0.85vw !important;}
#dib-template-2 .dib-post-text p.dib-meta-text { top: 15px !important; left: 7.5vw !important; color: #000075 !important;}
#dib-template-2 .dib-post-text { padding: 3.4vw 2vw 2vw 2vw !important;}
#dib-template-2 .dib-post-text p.dib-category-text{ color: #000075 !important;}

#dib-template-2 .dib-post-text h2{
  font-family: 'Nunito';
  font-size: 1.45vw !important;
  font-weight: 500 !important;
  color: #000075 !important;
  margin-bottom: 1.5vw !important;
  line-height: 1.5 !important;
}


/* Single posts */
#dib-template-2 .dib-post-single{ margin-top: 0 !important;}
#dib-template-2{ margin: 0 auto !important;}

#dib-template-2 .dib-post-single p.dib-meta-text{
  padding-right: 2vw !important;
  margin: 3vw auto 4vw auto !important;
  text-align: right !important;
  line-height: 1.4 !important;
  font-size: 1vw !important;
  transform: translateY(15px);
}

#dib-template-2 .dib-post-single{ width: 70vw !important;}
#dib-template-2 .dib-post-single .dib-author-photo{ transform: translateY(-15px) !important;}
.dib-related h2{ text-align: center; margin: 8vw auto 4vw auto;}


/* Footer */
footer {
  margin-bottom: 3vw;
  margin-top: 10vw;
  color: #000074;
  font-family: 'Nunito';
}

footer img {
  display: flex;
  width: 7.5vw;
  margin: 3vw auto 2vw auto;
}

footer h3 {
  text-align: center;
  font-size: 1.4vw;
  opacity: 0.7;
}

footer h4 {
  font-weight: 200;
  text-align: center;
  font-size: 1.2vw;
  opacity: 0.6;
  margin: 1vw auto 2vw auto;
}

footer p {
  font-size: 1.1vw;
  font-weight: 100;
  text-align: center;
  margin-bottom: 0.8vw;
  opacity: 0.8;
}


/* Popup settings */
.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10000vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 199;
}

.overlay:target{ visibility: visible; opacity: 1;}

.popup{
  margin: 5.5vw auto;
  padding: 4vw 6% 1.5vw 6%;
  background: #fff;
  border-radius: 0.366vw;
  width: 33%;
  height: 36.2vw;
  position: relative;
  z-index: 200;
}

.popup .close{
  position: absolute;
  top: 1.6vw;
  right: 2.2vw;
  transition: all 150ms;
  font-size: 2.2vw;
  color: #000074;
}

.popup .close:hover{ color: #C8102E;}


/* Popup content style */
.popup h2{
  font-family: 'Nunito';
  text-align: center;
  font-size: 1.55vw;
  padding-bottom: 0.3vw;
  color: #000074;
}

.popup h3{
  font-family: 'Montserrat';
  text-align: center;
  font-size: 1vw;
  font-weight: 100;
  color: #000074;
  padding-bottom: 2.7vw;
}

.text-box{
  font-family: 'Montserrat';
  background: rgb(0, 0, 0, 0);
  color: #7F7FB9;
  border: 0.0733vw solid #000074;
  width: calc(100% - 3vw);
  height: 2.6vw;
  font-size: 1.03vw;
  padding: 1vw 1.5vw;
  border-radius: 0.36vw;
  margin-bottom: 1.46vw;
}

textarea{
  font-family: 'Montserrat';
  background: rgb(0, 0, 0, 0);
  color: #7F7FB9;
  border: 0.0733vw solid #000074;
  width: calc(100% - 3vw);
  font-size: 1.03vw;
  padding: 1vw 1.5vw;
  margin-bottom: 2vw;
  border-radius: 0.36vw;
  resize: none;
}

::placeholder{ font-family: 'Montserrat'; color: #7F7FB9; opacity: 1; font-weight: 100;}
:-ms-input-placeholder{ font-family: 'Montserrat'; color: #7F7FB9; font-weight: 100;}
::-ms-input-placeholder{ font-family: 'Montserrat'; color: #7F7FB9; font-weight: 100;}

.send-btn{
  background: #C8102E;
  border: none;
  width: 18.34vw;
  height: 4.25vw;
  border-radius: 0.73vw;
  cursor: pointer;
  transition: 0.08s;
  margin: -10vw calc(50% - 9.17vw);
  transform: translateY(9.8vw);
}

.send-btn:active{ background-color: #AC031F;}

.send-btn p{
  font-family: 'Montserrat';
  color: #fff;
  font-size: 1.24vw;
  font-weight: 400;
  text-align: center;
  width: 100%;
  padding-top: 1.35vw;
}

@media (max-width: 1025px) {

    /* Header */
    .header {
      width: 88vw;
      padding: 3.4vw 6vw 3.5vw 6vw;
    }
  
    .header .logo {
      padding: 0;
      margin: 1.2vw 0 0 0;
      height: 4.5vw;
    }
  
    .header .links,
    .hamburger {
      display: none;
    }
  
    .hamburger {
      display: block;
      position: relative;
      width: 6.2vw;
      height: 4.7vw;
      background-image: url('resources/menu.svg');
      background-size: contain;
      position: absolute;
      right: 6vw;
      margin: 0.8vw 0;
    }
  
    .hamburger--open {
      background-image: url('resources/close.svg');
      width: 4.7vw;
      margin: 0.8vw 0.75vw;
      transition: all 0s;
    }
  
  
    /* Menù settings */
    .menu {
      display: block;
      position: fixed;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      opacity: 0.5;
      z-index: 99;
      transform: translateY(-100vh);
      background-color: rgba(247, 247, 251, 0.92);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      transition: all 0.3s ease-out;
    }
  
    .menu--header {
      background-color: rgba(247, 247, 251, 0);
      backdrop-filter: blur(0px);
      -webkit-backdrop-filter: blur(0px);
      transition: all 0.3s ease-out;
    }
  
    .body--fixed {
      overflow: hidden;
    }
  
    .menu--open {
      display: block;
      opacity: 1;
      transform: translateY(0vh);
      transition: all 0.3s ease-out;
    }
  
    .menu-links {
      width: 88vw;
      margin: 15vh 6vw 0 6vw;
    }
  
    .menu-links a {
      display: block;
      width: max-content;
      margin: 5vh auto;
      font-size: 6vw;
      font-weight: 300;
      opacity: 0;
      color: #000074;
    }
  
    .menu .selected {
      color: #C8102E;
      font-style: oblique;
      font-weight: 600;
    }
  
  
    /* Underline animation */
    .hover-underline-animation:after {
      height: 0.2vw;
      bottom: -0.7vw;
    }
    

    /* Button */
    button{
      width: 21vw;
      height: 5.4vw;
      transition: .2s;
      border-radius: 1vw;
    }

    button img{ width: 3.4vw; padding: 0.9vw 0.5vw 0 0.70vw;}
    button h5{ font-size: 2.1vw; margin: 1.3vw 0 0 0.90vw;}

    .scalebutton{ transition: all 0.20s; width: 21vw;}
    .scalebutton:active{ transform: scale(0.95);}
    .btn-1{ width: 21vw;}

    /* Content */
    .content{ padding: 23vw 10vw 0 10vw;}

    .content h1{
      font-size: 4.8vw;
      margin-bottom: 6vw;
      margin-top: 5vw;
    }


    /* Blog */
    ul.dib-cat-menu li a{ font-size: 2.7vw !important;}
    #dib-template-2 .dib-post-wrap{ margin-top: 5vw !important;}
    #dib-template-2 .dib-author-photo{ width: 44px !important; height: 44px !important;}
    #dib-template-2 .dib-post-text p.dib-meta-text{ top: 12px !important; left: 8.4vw !important;}
    #dib-template-2 p.dib-meta-text .dib-meta-item{ font-size: 1.5vw !important;}

    #dib-template-2 .dib-post-text h2{
      font-size: 2.2vw !important;
      line-height: 1.3 !important;
      margin-top: 1.2vw !important;
      padding: 0 1vw 0 1vw !important;
    }

    #dib-template-2 .dib-post-text p.dib-category-text{ font-size: 1.4vw !important; margin-top: 1vw !important;}


    /* Single post */
    #dib-template-2 .dib-post-single{ width: 80vw !important;}
    #dib-template-2 .dib-post-single p.dib-meta-text{ line-height: 1.3 !important; transform: translateY(14px) !important;}
    #dib-template-2 .dib-post-single .dib-author-photo{ transform: translateY(-14px) !important;}
    .dib-related h2{ text-align: center; margin: 8vw auto 4vw auto; font-size: 2vw;}

    /* Footer */
    footer {
      margin: auto 0vw 10vw 0vw;
      width: 100vw;
    }

    footer img {
      display: flex;
      width: 22vw;
      margin: 6vw auto;
    }

    footer h3 {
      font-size: 5vw;
      opacity: 0.7;
      line-height: 2;
      margin-bottom: -1vw;
    }

    footer h4 {
      font-size: 4vw;
      margin-top: 0;
      margin-bottom: 4vw;
      opacity: 0.5;
      line-height: 2;
    }

    footer p {
      font-size: 4vw;
      margin-bottom: 0vw;
      opacity: 0.75;
      line-height: 2;
    }


    /* Popup settings */
    .popup{
      margin: 14vw auto;
      padding: 10vw 6% 1.5vw 6%;
      border-radius: 1vw;
      width: 70%;
      height: 87.2vw;
    }

    .popup .close{ top: 4vw; right: 6vw; font-size: 6.5vw;}
    .popup .close:hover{ color: #C8102E;}


    /* Popup content style */
    .popup h2{
      font-size: 3.5vw;
      padding-bottom: 1.5vw;
      color: #000074;
    }

    .popup h3{
      font-size: 2.7vw;
      font-weight: 300;
      color: #000074;
      padding-bottom: 7vw;
    }

    .text-box{
      font-family: 'Montserrat';
      border: 0.2vw solid #000074;
      width: calc(100% - 6vw);
      height: 7.5vw;
      font-size: 2.5vw;
      padding: 1vw 3vw;
      border-radius: 0.8vw;
      margin-bottom: 3.5vw;
    }

    textarea{
      font-family: 'Montserrat';
      border: 0.2vw solid #000074;
      width: calc(100% - 6vw);
      font-size: 2.5vw;
      padding: 3.5vw 3vw;
      margin-bottom: 5vw;
      border-radius: 0.8vw;
    }

    ::placeholder{ font-weight: 400;}
    :-ms-input-placeholder{ font-weight: 400;}
    ::-ms-input-placeholder{ font-weight: 400;}

    .send-btn{
      background: #C8102E;
      width: 30vw;
      height: 8vw;
      border-radius: 1.4vw;
      transition: 0.08s;
      margin: -10vw calc(50% - 15vw);
      transform: translateY(8.5vw);
    }
    .send-btn p{
      font-size: 2.8vw;
      font-weight: 500;
      text-align: center;
      width: 100%;
      padding-top: 2.3vw;
    }
  }
@media (max-width: 768px) {

  /* Header */
  .header {
    width: 88vw;
    padding: 3.4vw 6vw 3.5vw 6vw;
  }

  .header .logo {
    padding: 0;
    margin: 1.2vw 0 0 0;
    height: 4.5vw;
  }

  .header .links,
  .hamburger {
    display: none;
  }

  .hamburger {
    display: block;
    position: relative;
    width: 6.2vw;
    height: 4.7vw;
    background-image: url('resources/menu.svg');
    background-size: contain;
    position: absolute;
    right: 6vw;
    margin: 0.8vw 0;
  }

  .hamburger--open {
    background-image: url('resources/close.svg');
    width: 4.7vw;
    margin: 0.8vw 0.75vw;
    transition: all 0s;
  }


  /* Menù settings */
  .menu {
    display: block;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    z-index: 99;
    transform: translateY(-100vh);
    background-color: rgba(247, 247, 251, 0.92);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: all 0.3s ease-out;
  }

  .menu--header {
    background-color: rgba(247, 247, 251, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: all 0.3s ease-out;
  }

  .body--fixed {
    overflow: hidden;
  }

  .menu--open {
    display: block;
    opacity: 1;
    transform: translateY(0vh);
    transition: all 0.3s ease-out;
  }

  .menu-links {
    width: 88vw;
    margin: 15vh 6vw 0 6vw;
  }

  .menu-links a {
    display: block;
    width: max-content;
    margin: 5vh auto;
    font-size: 6vw;
    font-weight: 300;
    opacity: 0;
  }

  .menu .selected {
    color: #C8102E;
    font-style: oblique;
    font-weight: 600;
  }


  /* Underline animation */
  .hover-underline-animation:after {
    height: 0.2vw;
    bottom: -0.7vw;
  }


  /* Button */
  button{
    width: 22vw;
    height: 5.4vw;
    transition: .2s;
    border-radius: 1vw;
  }

  button img{ width: 3.4vw; padding: 0.8vw 0.5vw 0 0.30vw;}
  button h5{ font-size: 2.1vw; margin: 1.1vw 0 0 0.90vw;}

  .scalebutton{ transition: all 0.20s; width: 22vw;}
  .scalebutton:active{ transform: scale(0.95);}
  .btn-1{ width: 22vw;}


  /* Content */
  .content{ padding: 26vw 10vw 0 10vw;}

  .content h1{
    font-size: 5.5vw;
    line-height: 1.3;
    width: 80%;
    margin: 0 10% 12vw 10%;
  }


  /* Blog */
  ul.dib-cat-menu li a{ font-size: 3.4vw !important;}
  #dib-template-2 .dib-post-wrap{ margin-top: 10vw !important;}
  #dib-template-2 .dib-post-text{ padding: 3.4vw 2vw 4vw 2vw !important;}
  #dib-template-2 .dib-post-text p.dib-meta-text{ top: 12px !important; left: 18vw !important;}
  #dib-template-2 p.dib-meta-text .dib-meta-item{ font-size: 3vw !important;}

  #dib-template-2 .dib-author-photo{
    width: 65px;
    height: 65px ;
    left: 4vw !important;
  }

  #dib-template-2 .dib-post-text h2 {
    font-size: 4.5vw !important;
    line-height: 1.3 !important;
    margin-top: 5.5vw !important;
    padding: 0 2.5vw !important;
  }

  #dib-template-2 .dib-post-text p.dib-category-text {
    font-size: 2.7vw !important;
    margin-top: 3vw !important;
  }


  /* Single post */
  #dib-template-2 .dib-post-single h1{ width: 80vw !important;}
  #dib-template-2 .dib-post-single .dib-author-photo{ transform: translateY(5px) !important;}
  #dib-template-2 .dib-post-single p.dib-meta-text{ margin-bottom: 10vw !important; padding: 0 !important;}
  #dib-template-2 .dib-post-single .dib-author-photo{ left: 0vw !important;}

  /* Footer */
  footer {
    margin: auto 0vw 10vw 0vw;
    width: 100vw;
  }

  footer img {
    display: flex;
    width: 22vw;
    margin: 6vw auto;
  }

  footer h3 {
    font-size: 5vw;
    opacity: 0.7;
    line-height: 2;
    margin-bottom: -1vw;
  }

  footer h4 {
    font-size: 4vw;
    margin-top: 0;
    margin-bottom: 4vw;
    opacity: 0.5;
    line-height: 2;
  }

  footer p {
    font-size: 4vw;
    margin-bottom: 0vw;
    opacity: 0.75;
    line-height: 2;
  }

  /* Popup settings */
  .popup{
    margin: 30vw auto;
    padding: 13vw 6% 1.5vw 6%;
    border-radius: 1vw;
    width: 75%;
    height: 88vw;
  }

  .popup .close{ top: 4vw; right: 6vw; font-size: 6.5vw;}
  .popup .close:hover{ color: #C8102E;}


  /* Popup content style */
  .popup h2{
    font-size: 3.5vw;
    padding-bottom: 1.5vw;
    color: #000074;
  }

  .popup h3{
    font-size: 2.7vw;
    font-weight: 300;
    color: #000074;
    padding-bottom: 7vw;
  }

  .text-box{
    font-family: 'Montserrat';
    border: 0.2vw solid #000074;
    width: calc(100% - 6vw);
    height: 7.5vw;
    font-size: 2.5vw;
    padding: 1vw 3vw;
    border-radius: 0.8vw;
    margin-bottom: 3.5vw;
  }

  textarea{
    font-family: 'Montserrat';
    border: 0.2vw solid #000074;
    width: calc(100% - 6vw);
    font-size: 2.5vw;
    padding: 3.5vw 3vw;
    margin-bottom: 5vw;
    border-radius: 0.8vw;
  }

  ::placeholder{ font-weight: 400;}
  :-ms-input-placeholder{ font-weight: 400;}
  ::-ms-input-placeholder{ font-weight: 400;}

  .send-btn{
    background: #C8102E;
    width: 30vw;
    height: 8vw;
    border-radius: 1.4vw;
    transition: 0.08s;
    margin: -10vw calc(50% - 15vw);
    transform: translateY(8.5vw);
  }
  .send-btn p{
    font-size: 2.8vw;
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding-top: 1.7vw;
  }

}
