/* ! General style of the website */
body {
  font-family: 'Nunito';
  background-color: #FEFEFF;
  right: 0;
  top: 0;
  padding: 0;
  color: #000074;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000074;
}

button {
  font-family: 'Nunito';
  cursor: pointer;
  color: #000074;
  white-space: nowrap;
}


/* Header */
.header {
  width: 72vw;
  padding: 0.3vw 17vw 0.3vw 11vw;
  display: flex;
  background-color: rgba(247, 247, 251, 0.86);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.header .logo {
  padding: 0.2vw;
  margin: 0.9vw 2.8vw 0.7vw 0;
  height: 1.2vw;
}

.header .links {
  display: flex;
  margin: 0 auto;
}

.header .links h4 {
  font-size: 1.1vw;
  font-weight: 200;
  padding-top: 1.15vw;
  margin: 0 1.4vw;
}

#selected-page {
  color: rgb(200, 16, 46);
  font-weight: 400;
}

.menu,
.hamburger {
  display: none;
}


/* Underline animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.07vw;
  bottom: -0.3vw;
  left: 0;
  background-color: #C8102E;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Hero */
.hero h1 {
  font-size: 4.7vw;
  font-weight: 700;
  padding-top: 8.7vw;
  text-align: center;
  line-height: 1.25;
}

.hero h1 span {
  color: #C8102E;
  text-stroke: 0.1vw #C8102E;
  -webkit-text-stroke: 0.1vw #C8102E;
}

.hero h2 {
  text-align: center;
  font-size: 1.7vw;
  font-weight: 200;
  margin: 1.5vw 0 4vw 0;
  line-height: 1.5;
}

.carousel {
  margin: 3.5vw 0 8vw 0;
  width: 100vw;
  height: 18vw;
  overflow: hidden;
  position: relative;
}

.carousel .carousel-inner {
  white-space: nowrap;
  transition: transform 1s;
  position: absolute;
  left: 1.3vw;
  top: 0;
  height: 100%;
}

.carousel .carousel-inner img {
  display: inline-block;
  height: 100%;
  margin: 0 1vw;
}

.animate {
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-411.5vw);
  }
}


/* Cta */
.cta {
  width: max-content;
  display: flex;
  margin: 4vw auto 11vw auto;
  padding: 1.2vw 2.5vw 1.2vw 2.5vw;
  background-color: rgba(0, 0, 0, 0);
  color: #C8102E;
  border: 0.1vw solid #C8102E;
  transition: all 0.1s;
  border-radius: 5vw;
}

.cta h5 {
  padding-top: 0.1vw;
  font-size: 1.6vw;
  font-weight: 300;
  text-align: center;
}

.cta img {
  width: 2vw;
  padding-left: 0.4vw;
}

.cta:hover {
  background-color: #C8102E;
  color: #F6F6FB;
  transform: scale(1.01);
}

.cta:active {
  transform: scale(0.99);
}

#desktop {
  display: block;
}

#mobile {
  display: none !important;
}


/* Subtitle */
.subtitle {
  width: 100vw;
  margin-bottom: 4vw;
}

.subtitle h2 {
  font-size: 3.65vw;
  font-weight: 600;
  text-align: center;
  line-height: 1.3;
}

.subtitle h2 span {
  color: #C8102E;
  text-stroke: 0.1vw #C8102E;
  -webkit-text-stroke: 0.1vw #C8102E;
}

.subtitle h3 {
  opacity: 70%;
  text-align: center;
  font-size: 1.8vw;
  font-weight: 200;
  margin-top: 0.7vw;
}

.subtitle h3 span {
  color: #C8102E;
}


/* Description */
.description{
  width: 78vw;
  background-color: rgba(0, 0, 116, 0.03);
  padding: 5vw 11vw 0.1vw 11vw;
  margin-bottom: 11vw;
}

.description img {
  width: 9.5vw;
  margin: 2vw 34.25vw 3.5vw 34.25vw;
}

.description h3{
  font-size: 2.6vw;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.5vw;
}
.description p {
  text-align: center;
  font-size: 1.5vw;
  font-weight: 200;
  line-height: 1.8;
  width: 60%;
  margin: 0 20%;
}

.description a{
  margin: 3vw auto 6vw auto;
}


/* Value */
.value {
  width: 78vw;
  display: flex;
  margin: 0 11vw 3vw 11vw;
}

.value .value-image {
  width: 36%;
  height: min-content;
  margin: 0 9% 0 5%;
}

.value .value-texts {
  width: 50%;
}

.value .value-texts .icon{
  width: 3.2vw;
  height: 3.2vw;
  border-radius: 0.6vw;
  background-color: rgba(0, 0, 116, 0.03);
  background-size: 2vw 2vw;
  background-position: 0.6vw 0.6vw;
  background-repeat: no-repeat;
}

.value .value-texts h3 {
  font-size: 1.8vw;
  font-weight: 600;
  margin: 2vw 0 1.5vw 0;
}

.value .value-texts p {
  font-size: 1.3vw;
  font-weight: 300;
  opacity: 0.8;
  line-height: 1.6;
  padding-bottom: 3vw;
  border-bottom: 0.1vw solid rgba(0, 0, 116, 0.2);
}

.value .value-texts .no-border {
  border: 0;
}


/* Why Crreo */
.why {
  width: 78vw;
  margin: 0 11vw 5vw 11vw;
  background-color: #000074;
  color: #F6F6FB;
  text-align: center;
  padding: 4.4vw 0 3.8vw 0;
  border-radius: 1vw;
}

.why h2 {
  font-size: 3.65vw;
  font-weight: 600;
  margin-bottom: 2.3vw;
}

.why p {
  font-size: 1.8vw;
  line-height: 1.4;
  font-weight: 200;
  opacity: 0.8;
  width: 90%;
  padding: 0 5%;
}

.logos{
  display: flex;
  width: min-content;
  margin: 4vw auto 1vw auto;
}

.logos img{
  height: 2vw;
  margin: 0 2vw;
  opacity: 0.5;
}


/* Footer */
footer {
  margin-bottom: 3vw;
}

footer img {
  display: flex;
  width: 7.5vw;
  margin: 3vw auto 2vw auto;
}

footer h3 {
  text-align: center;
  font-size: 1.4vw;
  opacity: 0.7;
}

footer h4 {
  font-weight: 200;
  text-align: center;
  font-size: 1.2vw;
  margin: 1vw auto 0.8vw auto;
}

footer p {
  font-size: 1.1vw;
  font-weight: 100;
  text-align: center;
  margin-bottom: 0.8vw;
  opacity: 0.55;
}


@media (max-width: 1025px) {

  /* Header */
  .header {
    width: 88vw;
    padding: 3.4vw 6vw 3.5vw 6vw;
  }

  .header .logo {
    padding: 0;
    margin: 1.2vw 0 0 0;
    height: 4.5vw;
  }

  .header .links,
  .hamburger {
    display: none;
  }

  .hamburger {
    display: block;
    position: relative;
    width: 6.2vw;
    height: 4.7vw;
    background-image: url('resources/menu.svg');
    background-size: contain;
    position: absolute;
    right: 6vw;
    margin: 0.8vw 0;
  }

  .hamburger--open {
    background-image: url('resources/close.svg');
    width: 4.7vw;
    margin: 0.8vw 0.75vw;
    transition: all 0s;
  }


  /* Menù settings */
  .menu {
    display: block;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    z-index: 99;
    transform: translateY(-100vh);
    background-color: rgba(247, 247, 251, 0.92);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: all 0.3s;
  }

  .menu--header {
    background-color: rgba(247, 247, 251, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: all 0.3s;
  }

  .body--fixed {
    overflow: hidden;
  }

  .menu--open {
    display: block;
    opacity: 1;
    transform: translateY(0vh);
    transition: all 0.3s;
  }

  .menu-links {
    width: 88vw;
    margin: 15vh 6vw 0 6vw;
  }

  .menu-links a {
    display: block;
    width: max-content;
    margin: 5vh auto;
    font-size: 6vw;
    font-weight: 300;
    opacity: 0;
  }

  .menu .selected {
    color: #C8102E;
    font-style: oblique;
    font-weight: 600;
  }


  /* Underline animation */
  .hover-underline-animation:after {
    height: 0.2vw;
    bottom: -0.7vw;
  }


  /* Hero */
  .hero h1 {
    font-size: 10.5vw;
    font-weight: 600;
    padding-top: 17vh;
  }

  .hero h1 span {
    font-weight: 500;
    color: #C8102E;
    text-stroke: 0.4vw #C8102E;
    -webkit-text-stroke: 0.4vw #C8102E;
  }

  .hero h2 {
    font-size: 5vw;
    margin: 8vw 0 8vw 0;
  }

  .hero h2 br{
    display: none;
  }

  .carousel {
    margin: 8vh 0;
    height: 48vw;
  }

  .carousel .carousel-inner {
    position: absolute;
    left: 6vw;
  }

  .carousel .carousel-inner img {
    margin: 0 2vw;
  }

  .animate {
    animation: slide 40s linear infinite;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-1086.4vw);
    }
  }


  /* Subtitle */
  .subtitle {
    width: 88vw;
    margin: 0 6vw 8vw 6vw;
  }

  .subtitle h2 {
    font-size: 9vw;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
  }

  .subtitle h2 br {
    display: none;
  }

  .subtitle h2 span {
    text-stroke: 0.2vw #C8102E;
    -webkit-text-stroke: 0.2vw #C8102E;
    line-height: 0.9;
  }

  .subtitle h3 {
    font-size: 4.7vw;
    margin-top: 4vw;
    line-height: 1.2;
  }


  /* Cta */
  .cta {
    margin: 8vw auto 22vw auto;
    padding: 3vw 6vw;
    border-radius: 10vw;
    border: 0.3vw solid #C8102E;
  }

  .cta h5 {
    padding-top: 0.3vw;
    font-size: 5vw;
  }

  .cta img {
    width: 6vw;
    padding-left: 1.2vw;
  }

  #desktop {
    display: none;
  }

  #mobile {
    display: block !important;
  }


  /* Description */
  .description {
    width: 88vw;
    padding: 10vw 6vw 0.2vw 6vw;
    margin-bottom: 22vw;
  }

  .description img {
    width: 24vw;
    margin: 6vw 32vw 7vw 32vw;
  }

  .description h3 {
    font-size: 7.5vw;
    margin-bottom: 5vw;
    line-height: 1.4;
  }

  .description p {
    font-size: 4.65vw;
    width: 100%;
    margin: 0 0 7vw 0;
  }

  .description a {
    margin: 6vw auto 16vw auto;
  }


  /* Value */
  .value {
    width: 88vw;
    display: block;
    margin: 0 6vw 3vw 6vw;
  }

  .value .value-image {
    width: 100%;
    height: 58.42%;
    margin: 0;
  }

  .value .value-texts {
    width: 100%;
  }

  .value .value-texts .icon {
    display: none;
  }

  .value .value-texts h3 {
    font-size: 6vw;
    font-weight: 600;
    margin: 7vw 0 3vw 0;
    line-height: 1.3;
  }

  .value .value-texts p {
    font-size: 4.7vw;
    font-weight: 200;
    margin-top: 4vw;
    line-height: 1.2;
    padding-bottom: 10vw;
    border-bottom: 0;
    opacity: 0.7;
  }


  /* Why CRREO */
  .why {
    width: 76vw;
    margin: 0 6vw 18vw 6vw;
    padding: 12vw 6vw 10.5vw 6vw;
    border-radius: 3vw;
  }

  .why h2 {
    font-size: 8vw;
    margin-bottom: 8vw;
  }

  .why p {
    font-size: 4.65vw;
    font-weight: 300;
  }

  .logos {
    width: 100%;
    display: block;
    margin: 8vw auto 2vw auto;
  }

  .logos img {
    height: 7vw;
    margin: 3vw 2vw;
  }


  /* Footer */
  footer {
    margin: auto 0vw 10vw 0vw;
    width: 100vw;
  }

  footer img {
    display: flex;
    width: 22vw;
    margin: 6vw auto;
  }

  footer h3 {
    font-size: 5vw;
    opacity: 0.7;
    line-height: 2;
    margin-bottom: -1vw;
  }

  footer h4 {
    font-size: 3.9vw;
    margin-top: 0;
    margin-bottom: -2vw;
    line-height: 2;
  }

  footer p {
    font-size: 3.8vw;
    margin-bottom: 0vw;
    opacity: 0.55;
    line-height: 2;
  }
}